body {
  font-family: arial,sans-serif;
}
.container {
  padding: 3rem;
}
a{
  font-size: 30px;
  color: #656beb;
}
.title {
  font-size: 40px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
}
.blue {
  color: #434ce7;
}
.card {
  border: 1px solid #434ce7;
  border-radius: 10px;
  padding: 20px;
}
.btn {
  cursor: pointer;
  width: 100%;
  color: white;
  background-color: #434ce7;
  padding: 3%;
  border-radius: 10px;
  border: none;
}
.btn:hover {
  background-color: #656beb;
}

.center {
  text-align: center;
}

.inline {
  display: flex;
}
img {
  width: 5%;
  margin: 9px;
}

/* task 2 styling */

table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.containerTable {
  padding: 3rem;
}
#item_list {
  margin-top: 1rem;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}

/* media query for handling responsiveness on small size screens */
@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }
  .grid-container {
    grid-template-columns: auto;
    row-gap: 1rem;
  }
}
